<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ymw.love.system.mapper.sys.SysRoleAuthorityMapper">


	<insert id="insertList" parameterType="java.util.List">
		INSERT INTO `sys_role_authority` (`role_code`, `authority_code`)
		VALUES

		<foreach collection="list" item="code" separator=",">
			(#{roleCode}, #{code})
		</foreach>

	</insert>

	<!-- 获取用户权限 -->
	<select id="findUserAuthority" resultType="java.util.Map">
		SELECT sa.`code`,sa.url,sra.role_code FROM `sys_role_authority` as sra LEFT JOIN
		sys_authority as sa on sra.authority_code=sa.`code` AND sa.state=2
		WHERE sra.role_code=#{roleCode}

	</select>



<resultMap id="Authority_Map_role" type="com.ymw.love.system.vo.AuthorityVO" >
   <collection property="data" ofType="com.ymw.love.system.vo.AuthorityVO"
    column="{id=id,roleCode=roleCode}" select="findRole" >
    </collection>
  </resultMap>

    <select id="findRole"  resultMap="Authority_Map_role">
       SELECT aut.id, aut.title,aut.`code`,aut.menu_type,aut.father_id 
       ,@roleCode:='${roleCode}' as  roleCode, sra.authority_code as optionCode 
      
        FROM `sys_authority` as aut

         LEFT JOIN sys_role_authority  as sra  on sra.authority_code=aut.`code` and sra.role_code=#{roleCode}
 
       <where>
        aut.state=2 and aut.sign=2 and sra.authority_code is not null
        <if test="id ==null">
         and aut.father_id is  null 
        </if>

        <if test="id !=null">
        and aut.`father_id`=#{id}
        </if>
           
        ORDER BY aut.sort 
        
        </where>
       
    </select>



</mapper>
