<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymw.love.system.mapper.posters.UPostersMapper">


	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ymw.love.system.entity.posters.UPosters">
		<id column="id" property="id" />
		<result column="posters_name" property="postersName" />
		<result column="posters_img" property="postersImg" />
		<result column="posters_desc" property="postersDesc" />
		<result column="qr_code_position" property="qrCodePosition" />
		<result column="publish_status" property="publishStatus" />
		<result column="is_delete" property="isDelete" />
		<result column="publish_time" property="publishTime" />
		<result column="create_date" property="createDate" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, posters_name AS postersName, posters_img AS postersImg, posters_desc AS postersDesc, qr_code_position AS qrCodePosition, publish_status AS publishStatus, is_delete AS isDelete, publish_time AS publishTime, create_date AS createDate
    </sql>

</mapper>
